{% extends 'base.html' %}

{% block page_title %}
Customers
{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col my-3">
        <h1>Customers</h1>
    </div>
</div>
<div class="row">
    {% for user in users_in_template %}
    <div class="col-md-4 my-3">
        <div class="card" >
            <img src="{{ user['avatar'] }}" class="card-img-top" alt="{{ user['username'] }}">
            <div class="card-body">
                <h5 class="card-title">{{ user['name'] }}</h5>
                <a href="{{ url_for('customer', id=user['id']) }}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}